In [29]:
# ==============================================================
# ðŸ“˜ Day2 --> Python Basic To Advanced
# Author: Muhammad Shah Asyraf
# Credit: Yash Sharma
# Artificial Intelligence & Machine Learning Course
# ==============================================================

In [2]:
# TAKING AN USER INPUT
# input(prompt/message)

name = input('Enter Your Name : ')
print('Welcome user :',name)

Enter Your Name :  Shah

Welcome user : Shah

In [3]:
print('Tell me your age : ')
age = input()
print('Age is :',age)

Tell me your age :

 23

Age is : 23

In [4]:
# input() recieve every input as a STRING
a = int(input('Enter First Value : '))       # 50
b = int(input('Enter Second Value : '))      # 20
print(f'After Addition {a+b}')               # 50+20

# float(input())
# bool(input())   True / False
# int(input())

Enter First Value :  50
Enter Second Value :  20

After Addition 70

In [5]:
print('Enter Three Numbers')
a,b,c = int(input()) , int(input()) , int(input())
print(a,b,c)

Enter Three Numbers

 10
 20
 30

10 20 30

In [6]:
# Operators
# operators are used to perform operations on variables

# Arithmetic Operators
# +  -  *  /  //  %  **

print(10+20)
print(100-89)
print(8*7)
print(6/2)   # IN PYTHON DIVISION OPERATOR RETURN VALUE IN FLOAT
print(6//2)  # // floor division operator ->  RETURN VALUE IN INT
print(11%2)  # % modulus operator --> gives us remainder
print(2**8)  # ** exponent  2 raise to the power of 8
print(72**72)

30
11
56
3.0
3
1
256
53449019547361999534025300140057538544940601393106611570269540644280818850419033099696863861289188541180498511377339362341642322313216

In [7]:
# Assignment Operator
a = 10

# compound assignment operator
a += 1   # a = a + 1
print(a)

11

In [8]:
a = 10
a -= 1  # a = a-1
print(a)

9

In [9]:
# Comparison Operators
# <  >  <=  >=  ==  !=
# returns result in Boolean [True / False]

print(10<5)
print(100>10)
print('a'=='a')
print(67!=90)

age = 17
print(age>=18)

False
True
True
True
False

In [10]:
# Logical Operators
# and   or   not

# and operators requires atleast 2 conditions
# and will return TRUE only when both the conditions are TRUE

print(100==100 and 90<100)
#        c1          c2
#         T          T

print(100==100 and 90>100)
#        c1          c2
#         T          F

print(10==100 and 90>100)
#        c1          c2
#         F         F

True
False
False

In [11]:
# or operators requires atleast 2 conditions
# or will return TRUE only when both the conditions are TRUE
# or will return TRUE even if any one of the condition is TRUE

print(100==100 or 90<100)
#        c1          c2
#         T          T

print(100==100 or 90>100)
#        c1          c2
#         T          F

print(10==100 or 90>100)
#        c1          c2
#         F         F

True
True
False

In [12]:
# not used to inverse the result
print(not(100==100 or 90<100))

False

In [13]:
# Membership Operator
# in   not in

# in return TRUE if the specified value exist in the Sequence

print("y" in "Python")
print("x" in "Python")
print("p" in "Python")

print(10 in [10,20,30,40])

True
False
False
True

In [14]:
print("x" not in "Python")  # x does not exist in Python
print("y" not in "Python")  # y does not exist in Python

True
False

In [15]:
# DECISION MAKING / WORKING WITH CONDITIONS / CONDITIONAL STATEMENTS
# if  elif  else

# IN DECISION MAKING A BLOCK OF CODE WILL BE EXECUTED ONLY WHEN THE CONDITION IS TRUE

# if statement
# if will check the condition first , if the condition is TRUE
# a block of code will be excuted

# syntax
# if condn:
#    code to be executed

age = 26
if age>=18:
  print('Eligible for a Driving License')

Eligible for a Driving License

In [17]:
num = int(input('Enter Any Number : '))
if num%2==0:                                    # 0 == 0
  print('Checking The Number')
  print('Please Wait......')
  print('Even Number')
  print('Still I am In IF')
print('Rest of the code')

Enter Any Number :  24

Checking The Number
Please Wait......
Even Number
Still I am In IF
Rest of the code

In [18]:
# Find the largest
a = 19
b = 45
c = 34
d = 141
e = 69

largest = 0

if a>largest:      # 19>0 (t)
  largest = a      # largest = 19

if b>largest:     # 45>19 (t)
  largest = b     # largest = 45

if c>largest:    #  34>45(f)
  largest = c

if d>largest:   # 141>45 (t)
  largest = d   # largest = 141

if e>largest:
  largest = e

print('Largest Number is :',largest)

Largest Number is : 141

In [19]:
# if else statement
age = 15
print('Gaming Application')
if age>=18:
  print('Welcome User. Please Wait')
  print('Game is loading.........')
else:
  print('Age Restriction. Age Should > 18')

Gaming Application
Age Restriction. Age Should > 18

In [20]:
gender = input('Tell me your gender :')   # MALE  MalE  MAle
gender = gender.lower()
if gender=="male" or gender=="female":
  print('Great')
else:
  print('Can\'t say anything')

Tell me your gender : MALE

Great

In [21]:
# Working with multiple conditions
# if elif else
# only one block of code will be executed

num = int(input('Enter Any Number : '))   # 0
if num<0:                                 # 0<0 (f)
  print('Negative Number')
elif num==0:
  print('Number is Zero')
else:
  print('Positive Number')

Enter Any Number :  23

Positive Number

In [22]:
# Loops In Python
# Loops are used to perform a repititive task or used to repeat a block of code

# for loop
# it is used to iterate over a sequence

# AFTER EVERY ITERATION BODY OF FOR LOOP WILL BE EXECUTED

# for iterable_variable in Sequence:
#     code to be executed

for i in "Python":
  print(i)

P
y
t
h
o
n

In [23]:
product_prices = 10 , 15 , 17 , 19 , 20 , 22 , 26 , 29 , 30 , 32 , 35 , 37 , 40 , 42 , 44 , 45 , 47 , 50 , 52
tax = 1.25

for i in product_prices:
  print(i+tax)

11.25
16.25
18.25
20.25
21.25
23.25
27.25
30.25
31.25
33.25
36.25
38.25
41.25
43.25
45.25
46.25
48.25
51.25
53.25

In [24]:
numbers = 10 , 15 , 17 , 19 , 20 , 22 , 26 , 29 , 30 , 32 , 35 , 37 , 40 , 42 , 44 , 45 , 47 , 50 , 52

for i in product_prices:
  if i%5==0:
    print(i)

10
15
20
30
35
40
45
50

In [25]:
numbers = 3, 8, 1, 6, 10, 2
largest = numbers[0]   # largest = 3

for i in numbers:    # i --> 8
  if i>largest:      # 8>3
    largest = i

print(largest)

10

In [26]:
# range()
# it is used to generate a sequence of integer values

# a.) range(x)
# it is used to generate a sequence of integer values
# staring from Zero till x-1

print(list(range(11)))

# b.) range(x,y)
# it is used to generate a sequence of integer values
# staring from x till y-1

print(list(range(1,11)))

# c.) range(x,y,stepCount)
# it is used to generate a sequence of integer values
# staring from x till y-1 based on stepCount

print(list(range(1,11,3)))

# print all the even numbers till 100 using this range()
print(list(range(2,101,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 7, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [27]:
for i in range(1,11): # 1 2 3 4 5 6 7 8 9 10
  print(f"{i} Python")

1 Python
2 Python
3 Python
4 Python
5 Python
6 Python
7 Python
8 Python
9 Python
10 Python

In [28]:
num = 17
for i in range(1,11): # 1 2 3 4 5 6 7 8 9 10
  print(f'{num}x{i}={num*i}')   #  17x2=17*2

17x1=17
17x2=34
17x3=51
17x4=68
17x5=85
17x6=102
17x7=119
17x8=136
17x9=153
17x10=170