In [1]:
# ==============================================================
# ðŸ“˜ Day5 --> Python Basic To Advanced
# Author: Muhammad Shah Asyraf
# Credit: Yash Sharma
# Artificial Intelligence & Machine Learning Course
# ==============================================================

In [2]:
# What Are Data Structures?
# Data structures are ways of organizing and storing data so that they
# can be accessed and modified efficiently.

# Why Should You, as a Developer, Learn Data Structures?
# The right data structure makes your code faster and more efficient.
# Most coding interviews and real-world challenges require solid data structure knowledge.
# Helps you organize code better and avoid messy or repeated logic.

# Python provides several built-in data structures
# List
# Tuple
# Set
# Dictionaries

In [3]:
# LIST
# LIST IS A COLLECTION OF DATA VALUES / ELEMENTS
# LIST IS DENOTED BY USING [] / list()
# LIST IS MUTABLE [CHANGEABLE / MODIFIABLE / DELETION / UPDATION]
# LIST ALLOWS US TO HAVE DUPLICATE ELEMENTS

# CREATE A LIST

list1 = [1,2,3,4,5]
print(type(list1))

list2 = list(['a','b','c','d'])
print(type(list2))

list3 = []           # empty list
print(type(list3))

info = [101,"John",78.21,True]
print(type(info))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [4]:
# indexing and slicing
list1 = [10,20,30,40,50,60,70,80]
print(list1)

# 10  20   30    40    50    60    70    80
# 0   1    2     3     4      5    6      7
# -8  -7   -6    -5    -4     -3   -2     -1

print(list1[1])
print(list1[-1])

print(list1[1:6])
print(list1[1:6:2])
print(list1[::-1])

[10, 20, 30, 40, 50, 60, 70, 80]
20
80
[20, 30, 40, 50, 60]
[20, 40, 60]
[80, 70, 60, 50, 40, 30, 20, 10]

In [5]:
# List is iterable
list1 = [10,20,30,40,50,60,70,80]
for i in list1:
  if i%4==0:
    print(i)

20
40
60
80

In [6]:
# Print the elements of list along with index numbers
list1 = [10,20,30,40,50,60,70,80]
# len() : used to count the number of elements in a List
print(len(list1))

8

In [7]:
for i in range(len(list1)):                   # range(8)  --> 0 1 2 3 4 5 6 7
  print(f'Index {i} : {list1[i]}')            #  i --> 0    list1[2]10

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60
Index 6 : 70
Index 7 : 80

In [8]:
# enumerate()  it will show elements along with index numbers
for i,e in enumerate(list1):
  print(f'Index {i} : {e}')

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60
Index 6 : 70
Index 7 : 80

In [9]:
# enumerate()  it will show elements along with index numbers
for i in enumerate(list1):
  print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)

In [10]:
# LIST IS MUTABLE
list1 = [10,20,30]
print(list1)
list1[1] = 200
print(list1)

[10, 20, 30]
[10, 200, 30]

In [11]:
# LIST BUILT-IN METHODS

list1 = [10,20,30,40,50,60,70,80,90,100]
print('Original List :',list1)

# a.) append(value)
# used to add a new element at the END of the List
list1.append(110)
print('After Append :',list1)

# b.) insert(indexNumber,value)
# used to add a new element at any specific position in List
list1.insert(0,200)
print('After Insert :',list1)

# c.) pop(indexNumber)
# used to delete an element from list
list1.pop(0)
print('After Pop :',list1)

# d.) pop()
# if no index number was given , it will delete the Last element
list1.pop()
print('After Pop :',list1)

# e.) remove(value)
# it will delete the specified value
list1.remove(90)
print('After Remove :',list1)

# list = [10,20,30,10,10,10,40,50]
# list.remove(10) ? which 10 it will delete
# it will delete the first occurence of 10
# list = [20,30,10,10,10,40,50]

# f.) clear()
# used to remove the elements from List

list1.clear()
print('After Clear :',list1)

del list1

Original List : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Append : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Insert : [200, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Remove : [10, 20, 30, 40, 50, 60, 70, 80, 100]
After Clear : []

In [12]:
# f.) sort()
list1 = [67,32,19,80,12,17,45,26,46,78]
list1.sort()   # ascending order
print(list1)

[12, 17, 19, 26, 32, 45, 46, 67, 78, 80]

In [13]:
list1 = [67,32,19,80,12,17,45,26,46,78]
list1.sort(reverse=True)   # descending order
print(list1)

[80, 78, 67, 46, 45, 32, 26, 19, 17, 12]

In [14]:
# g.) reverse()
list1 = [67,32,19,80,12,17,45,26,46,78]
list1.reverse()  # [::-1]
print(list1)

[78, 46, 26, 45, 17, 12, 80, 19, 32, 67]

In [15]:
# TUPLE
# TUPLE IS A COLLECTION OF DATA VALUES / ELEMENTS
# TUPLE IS DENOTED BY USING () / tuple()
# TUPLE IS IMMUTABLE
# TUPLE ALLOWS US TO HAVE DUPLICATE ELEMENTS

# CREATE A TUPLE

t1 = (1,2,3,4,5)
print(type(t1))

t2 = tuple((1,2,3,4,5))
print(type(t2))

t3 = ()
print(type(t3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [16]:
myvar = 10 , 89.21 , "Python" , True
print(type(myvar))

<class 'tuple'>

In [17]:
# How to create a tuple having one element
tupl1 = (45,)
print(type(tupl1))

<class 'tuple'>

In [22]:
# Tuple is Immutable
t1 = (10,20,30,40)
print(t1)
t1[1] = 200
print(t1)

(10, 20, 30, 40)

TypeError: 'tuple' object does not support item assignment

In [23]:
# len()
t1 = (10,20,30,40,10,10,10,50,60,70,10,80)
print(len(t1))
# count() print the total occurence of specified value
print(t1.count(10))
# index() helps you to get the index number
print(t1.index(70))

12
5
9

In [24]:
# SET
# SET IS AN UNORDERED COLLECTION OF DATA VALUES
# SET IS DENOTED BY USING {} /  set()
# SET DOES NOT ALLOW DUPLICATE RECORDS

set1 = {10,20,30,40,50}
print(type(set1))

set2 = set((10,20,30,40,50))
print(type(set2))

set3 = set()
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [25]:
list1 = [10,20,30,40,10,10,50,60]
print(list1)

set1 = {10,20,30,40,10,10,50,60}
print(set1)

[10, 20, 30, 40, 10, 10, 50, 60]
{50, 20, 40, 10, 60, 30}

In [26]:
list1 = [10,20,10,30,40,10,50,60,20,30,50,70]
# WAP to print the no. of unique elements in a List
print('no. of unique elements :',set(list1))
print('no. of unique elements :',len(set(list1)))

no. of unique elements : {70, 40, 10, 50, 20, 60, 30}
no. of unique elements : 7

In [27]:
list1 = [10,20,10,30,40,10,50,60,20,30,50,70]
empty_list = []
for i in list1:                                          #  i --> 30
  if i not in empty_list:                                 # 30 does not exist in []
    empty_list.append(i)                                   # [10,20,30]
print('no. of unique elements :',len(empty_list))

no. of unique elements : 7

In [28]:
!pip install ordered-set

Collecting ordered-set
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Installing collected packages: ordered-set
Successfully installed ordered-set-4.1.0

In [29]:
from ordered_set import OrderedSet
str1 = 'abracadabra'
print(set(str1))
print(OrderedSet(str1))

set1 = OrderedSet((10,20,30,40,10,10,50,60))
print(set1)

{'b', 'r', 'd', 'c', 'a'}
OrderedSet(['a', 'b', 'r', 'c', 'd'])
OrderedSet([10, 20, 30, 40, 50, 60])

In [30]:
# DICTIONARIES
# DICTIONARY USED TO HOLD INFORMATION IN A KEY:VALUE PAIR
# DICTIONARY IS DENOTED BY USING {}
# DICTIONARY IS MUTABLE IN NATURE

emp_info = {'id':101 , 'name':'John' , 'age':32 , 'sal':6700 ,
            'email':'j@gmail.com' , 'city':'klang' , 'dept':'IT'}

print(type(emp_info))
print(emp_info)
print(emp_info["sal"] , emp_info["dept"])
print(emp_info["dept"])
print(emp_info.get("name"))

<class 'dict'>
{'id': 101, 'name': 'John', 'age': 32, 'sal': 6700, 'email': 'j@gmail.com', 'city': 'klang', 'dept': 'IT'}
6700 IT
IT
John

In [31]:
emp_info = {'id':[101,102,103],
            'name':['John','Alex','Smith'],
            'dept':['IT','HR','FN']}
print(emp_info)
print(emp_info["id"][0], emp_info["name"][0] , emp_info["dept"][0])

{'id': [101, 102, 103], 'name': ['John', 'Alex', 'Smith'], 'dept': ['IT', 'HR', 'FN']}
101 John IT

In [32]:
emp_info = {'id':101 , 'name':'John' , 'age':32 , 'sal':6700 ,
            'email':'j@gmail.com' , 'city':'klang' , 'dept':'IT'}

# Add a new key:value pair
emp_info["country"] = "Malaysia"
print(emp_info)

{'id': 101, 'name': 'John', 'age': 32, 'sal': 6700, 'email': 'j@gmail.com', 'city': 'klang', 'dept': 'IT', 'country': 'Malaysia'}

In [33]:
# update a key:value pair
emp_info["sal"] = 7000
print(emp_info)

{'id': 101, 'name': 'John', 'age': 32, 'sal': 7000, 'email': 'j@gmail.com', 'city': 'klang', 'dept': 'IT', 'country': 'Malaysia'}

In [34]:
# delete a key:value pair
emp_info.pop("country")
print(emp_info)

{'id': 101, 'name': 'John', 'age': 32, 'sal': 7000, 'email': 'j@gmail.com', 'city': 'klang', 'dept': 'IT'}

In [35]:
# print keys only
for i in emp_info:
  print(i)

id
name
age
sal
email
city
dept

In [36]:
# print values only
for i in emp_info.values():
  print(i)

101
John
32
7000
j@gmail.com
klang
IT

In [37]:
# print key and value
for k,v in emp_info.items():
  print(k,v)

id 101
name John
age 32
sal 7000
email j@gmail.com
city klang
dept IT